.capa{
    background-color: #EECAD5;
    width: 100%;
    height: 100vh;
    padding: 40px 0 5px 0;
}

.banner{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(/banner-home.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}


.banner h1{
    font-family: "Yanone Kaffeesatz", system-ui;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 5px;
    text-shadow: 3px 5px 2px #FBF3D5;
    color: #D37676;
}


.main .container_content_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .container_content_main .content_main{
    width: 100%;
    display: flex;
    align-items: center;
}

.content_main .img_content_main{
    width: 50%;
    height: auto;
}

.content_main div{
    width: 50%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Open Sans", system-ui;
}

.content_main div h2{
    font-size: 36px;
    color: #ae6d37;
    text-shadow: 3px 2px 2px #000000;
}

.content_main div .pg_italic{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.content_main div p{
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}


/* Media query*/

@media (max-width: 966px){
    .banner h1{
        font-size: 90px;
    }
}


@media (max-width: 882px){
    .banner h1{
        font-size: 80px;
    }
}

@media (max-width: 837px){
    .banner h1{
        font-size: 70px;
    }


    .content_main div h2{
        font-size: 30px;
    
    }

    .content_main div .pg_italic{
        font-size: 16px;
    
    }
    
    .content_main div p{
        font-size: 14px;

    }


}

@media (min-width: 797px){
    .content_main div{
        padding: 10px 50px;
       
    }   
}

@media (max-width: 730px){
    .capa{
        padding: 60px 0 5px 0;
    }
    .banner{
        height: 75%;
        background-size:cover;
    }

    .banner h1{

        text-align: center;
    }
    .content_main div h2{
        font-size: 24px;
    
    }

    .content_main div .pg_italic{
        font-size: 14px;
    
    }
    
    .content_main div p{
        font-size: 12px;
        font-weight: 400;
        

    }
}
@media (min-width: 713px){
    .content_main div{
        padding: 5px 10px;
       
    }   
}
@media (max-width: 704px){
    .banner h1{
        font-size: 50px;
    }
    .content_main div{
        padding: 5px 10px;
        gap: 10px;
       
    }   

    .content_main div h2{
        font-size: 22px;
        text-shadow: 3px 1px 2px #000000;
        
    
    }

    .content_main div .pg_italic{
        font-size: 14px;
    
    }
    
    .content_main div p{
        font-size: 12px;
        font-weight: 400;
        

    }
}

@media (max-width: 590px){

    .banner{
        background-size:cover;
    }

    .banner h1{
        font-size: 80px;
        text-align: center;
    }
    .main .container_content_main{
       gap: 15px;
    }
    
    .main .container_content_main .content_main{
        flex-direction: column-reverse;
        gap: 20px;
        border-bottom: 0.2px solid #ae6c3737;
    }
    .content_main .img_content_main{
        width: 100%;
    }
    
    .content_main div{
        width: 100%;
    }

    .content_main div h2{
        padding-top: 15px;
    }

    .content_main div p{
        padding-bottom: 40px;
    }
}


/*  */